<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
 
</head>

<body>
    {{>header}}

    <form>

        <input>
        <button>Search</button>
        <br/>
        <p id="m1">ddfff</p>
        <p class="m2"></p>
    </form>


    {{>footer}}
       <script src="/js/app.js"></script>
</body>


</html>